/** @format */

.dots-9 {
	width: 12px;
	height: 12px;
	position: relative;
	animation: d9-0 2s infinite steps(2);
	color: #333;
}
.dots-9::before,
.dots-9::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 50%;
	background: currentColor;
}
.dots-9::before {
	box-shadow: 24px 0 currentColor;
	transform: translateX(-24px);
	animation: d9-1 1s infinite linear alternate;
}
.dots-9::after {
	transform: translateX(12px) rotate(0deg) translateX(12px);
	animation: d9-2 1s infinite linear alternate;
}
@keyframes d9-0 {
	0%,
	49.9% {
		transform: scale(1);
	}
	50%,
	100% {
		transform: scale(-1);
	}
}
@keyframes d9-1 {
	100% {
		box-shadow: 48px 0 currentColor;
	}
}
@keyframes d9-2 {
	100% {
		transform: translateX(12px) rotate(-180deg) translateX(12px);
	}
}
